/*Display all elements with class "inline-block" as inline-block*/
.inline-block {
    display: inline-block;
    vertical-align: top;
}

/*Logo container*/
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

/*Navbar*/
nav {
    width: 73%;
    padding: 1%;
    float: right;
    background-color: bisque;
}

/*Navbar content*/
nav ul {
    width: 50%;
    margin-left: auto;
}

nav li{
    padding: 0 10px 0 20px;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/*Footer nav*/
footer {
    background-color: #373738;
    padding: 1%;
    padding-left: 40%;
    color: white;
}

/*Footer nav content*/
footer ul {
    display: inline-block;
    vertical-align: top;
}

footer li {
    padding: 0 10px 0 20px;
}